.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
  height: 550px;
}

.card:hover {
  cursor: pointer;
}

.card-title {
  font-size: 1.2rem;
}

.card-desc {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
