:root {
  --accent: #fac031;
  --black: #282828;
  --gray: #eeeeee;
  --dark-gray: #cecece;
  --big-heading-size: 4.5rem;
  --small-heading-size: 1.8rem;
  --medium-text: 1.5rem;
  --regular-text: 1.1rem;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
}

a,
button {
  all: unset; /* resets the default style */
  cursor: pointer;
}

.content-section {
  min-height: 100vh;
  width: 100%;
}

.container {
  padding: 15px 100px;
}

.flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.text-contents {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.highlighted {
  font-family: "Times New Roman", Times, serif;
  color: var(--accent);
  text-decoration: underline;
}

#hero .highlighted,
#about .highlighted {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
}

ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

ul li a {
  color: var(--black);
  font-weight: 400;
  font-size: var(--regular-text);
}

ul li a:hover {
  color: var(--accent);
  transition: color 0.3s;
  text-decoration: underline;
}

section:not(#hero) {
  padding-top: 100px; /* add a default padding to unblock the content from the navbar's height*/
}

.navlink-icons {
  display: flex;
  gap: 20px;
}

.navlink-icon {
  background-color: none;
}

.navlink-icon:hover {
  color: var(--accent);
  transition: color 0.3s;
}

.order-button {
  width: max-content;
  font-size: var(--regular-text);
  font-weight: 700;
  background-color: var(--accent);
  color: white;
  padding: 15px 45px;
  border-radius: 5%;
}

figure .order-button {
  background-color: var(--black);
  align-self: center;
}

.order-button:hover {
  background-color: rgba(250, 192, 49, 0.75);
  transition: background-color 0.3s;
}

.order-button i {
  margin-left: 20px;
}

#hero,
#about {
  gap: 40px;
}

h1,
h2 {
  font-size: var(--big-heading-size);
  line-height: 1.1;
  text-align: center;
}

#hero h1,
#about h2 {
  text-align: left;
}

#hero p,
#about p {
  text-align: justify;
  line-height: 2;
  font-size: var(--regular-text);
}

/* About Section */

#about h3 {
  font-size: 2.5rem;
}

/* Menu */

#menu-grid {
  display: grid;
  gap: 20px;
  grid-template-areas: "a b c d" "e f g h";
}

#menu-grid > figure {
  border-radius: 2%;
  padding: 20px;
  text-align: center;
  box-shadow: var(--box-shadow);
}

#menu-grid > figure img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

#menu-grid > figure h3 {
  color: var(--accent);
  font-size: var(--small-heading-size);
}

.price {
  font-weight: bold;
  font-size: var(--medium-text);
}

.menu-grid .item1 {
  grid-area: a;
}

.menu-grid .item2 {
  grid-area: b;
}

.menu-grid .item3 {
  grid-area: c;
}

.menu-grid .item4 {
  grid-area: d;
}

.menu-grid .item5 {
  grid-area: e;
}

.menu-grid .item6 {
  grid-area: f;
}

.menu-grid .item7 {
  grid-area: g;
}

.menu-grid .item8 {
  grid-area: h;
}

figcaption {
  font-size: var(--regular-text);
}

#rating {
  display: flex;
  gap: 5px;
  color: var(--accent);
  align-self: center;
  font-size: var(--regular-text);
}

#gallery-menu {
  display: grid;
  grid-template-areas: "1 2 3" "4 5 6";
  gap: 20px;
}

#gallery-menu img {
  object-fit: cover;
  width: 100%;
  height: 350px;
  border-radius: 2%;
}

#gallery-menu .item1 {
  grid-area: 1;
}

#gallery-menu .item2 {
  grid-area: 2;
}

#gallery-menu .item3 {
  grid-area: 3;
}

#gallery-menu .item4 {
  grid-area: 4;
}

#gallery-menu .item5 {
  grid-area: 5;
}

#gallery-menu .item6 {
  grid-area: 6;
}

/* Review Section */
#review-grid {
  display: flex;
  gap: 20px;
  grid-template-areas: "r1 r2 r3 r4";
  text-align: center;
}

#review-grid figure {
  padding: 30px;
  border-radius: 2%;
  box-shadow: var(--box-shadow);
  line-height: 1.5;
}

#review-grid figure img {
  width: 250px;
  align-self: center;
  border-radius: 100%;
  border: 5px solid var(--dark-gray);
}

#review-grid .item1 {
  grid-area: r1;
}
#review-grid .item2 {
  grid-area: r2;
}
#review-grid .item3 {
  grid-area: r3;
}
#review-grid .item4 {
  grid-area: r4;
}

#review-grid h3 {
  font-size: var(--medium-text);
}

/* Order Section */

#order {
  background-image: url(./image/bg2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.order-form {
  gap: 100px;
}

#order img {
  max-width: 50%;
  height: 700px;
}

form {
  width: 100%;
}

form label {
  font-size: var(--regular-text);
}

form button {
  margin-top: 30px;
}

.form-containers {
  width: 100%;
  display: flex;
  gap: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.input-style {
  width: 100%;
  border: 4px solid var(--dark-gray);
  border-radius: 2%;
  padding: 12px 20px;
  background-color: var(--gray);
}

/* Team Section */
#our-team {
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(./image/bg1.jpg);
}

#team-container {
  display: grid;
  grid-template-areas: "t1 t2 t3 t4";
  gap: 20px;
}

#team-container .item1 {
  grid-area: t1;
}

#team-container .item2 {
  grid-area: t2;
}

#team-container .item3 {
  grid-area: t3;
}

#team-container .item4 {
  grid-area: t4;
}

.team-border {
  border: 2px solid var(--dark-gray);
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  height: 370px;
  width: 400px;
}

.team-border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  border-radius: inherit;
}

/* Footer Section */

footer {
  background-color: var(--gray);
  text-align: center;
  display: grid;
  grid-template-areas: "locations links contacts service follows";
  padding: 75px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer h4 {
  font-size: var(--medium-text);
  margin-bottom: 20px;
}

#social-media i {
  margin-left: 10px;
}
